<!DOCTYPE html>
<html lang="en">
<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Google fonts -->
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Masonry -->
<script src="/path/to/jquery.masonry.min.js"></script>

<script src="/masonry.pkgd.js"></script>

<!-- Link to stylesheet -->
<link rel="stylesheet" type="text/css" href="/style.css">

<link rel="stylesheet" type="text/css" href="/masonry.css">

  <meta charset="UTF-8">
  <title>Oneironaut</title>

</head>
<body>
<div class ="container">
  



