<!DOCTYPE html>
<html lang="en">
<head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="/style.css">

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>

<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet'/>

<!-- <script src="/path/to/jquery.masonry.min.js"></script> -->

<script src="/masonry.pkgd.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="/masonry.css">



  <meta charset="UTF-8">
  <title>Oneironaut</title>

</head>
<body>
<div class ="container">



