<% include partials/header %>
<% include partials/navbar %>

<h1>Hello, <%= user.username %> - welcome.</h1>
<h3>We are all dreamers, so come explore and share your experiences with the community. <br>
You've heard it before, we spend a third of our lives asleep. </h3>

<% include partials/footer %>

