<% include partials/header %>
<% include partials/navbar %>

<h1>Hello, <%= user.username %> - welcome.</h1>

<p>This should be where you can view and edit the user's dreams</p>

<p> 
<a href="/dreams/new">Write About Your Dream</a>
</p><br> 



<% include partials/footer %>

