<% include partials/navbar %>
<% include partials/header %>
<body>
<div class ="container">


<div class= "home">

<h2 id="homepage">Hello, <%= user.username %></h2>

<div class="row text-center">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="woods.jpg">
      <div class="caption">
        <h4>My Dreams</h4>
        <p>Keep track of your wanderings.</p>
        <p><a href="/my_dreams" class="btn">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="gil.jpg">
      <div class="caption">
        <h4>Write About a New Dream</h4>
        <p>Share your new dreams.</p>
        <p><a href="/dreams/new" class="btn">Create</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="perception.jpg">
      <div class="caption">
        <h4>Explore Dreams</h4>
        <p>Inspiration can come from unexpected places.</p>
        <p><a href="/dreams" class="btn">Explore</a></p>
      </div>
    </div>
  </div>
</div>
</div>
<% include partials/footer %>

