
<% include partials/header %>

<body>
<% include partials/logo %>

<div class ="first">
<br>

  <% if (typeof message !== 'undefined') { %>
    <div class = "alert alert-success">
      <%= message %>
    </div>
  <% } %>

<h2 class="no_margin"> Oneironaut - an explorer of the dream world</h2>

<h4>The term is associated with lucid dreaming, however this site provides you with access to the dream world.</h4><br>

<h2>We are all dreamers.</h2>
<h4>So, dream with us and sign up to join our community of Oneironauts.</h4><br>

<h2>Share, explore, and discover.</h2>
<h4>Realize our hopes, fears, and dreams aren't too different after all.</h4><br>

  <a href="/signup" class = "btn btn-lg">Sign up</a>
  <a href="/login" class = "btn btn-lg">Log in</a>

<% include partials/footer %>


