
<% include partials/header %>

<body>
<% include partials/logo %>

<div class ="first">
<br>
  <h1 class="no_margin"> Oneironaut - an explorer of the dream world</h1>

  <% if (typeof message !== 'undefined') { %>
    <div class = "alert alert-success">
      <%= message %>
    </div>
  <% } %>

<h4>Though the term is often associated with lucid dreaming, this site provides you with the right moon boots to step into the alternative universe of a person's mind.</h4><br>

<h2>We are all dreamers.</h2>
<h4>So, dream with us and sign up to join our community of Oneironauts.</h4><br>

<h2>Share, explore, and discover.</h2>
<h4>You may realize our hopes and dreams aren't too different after all.</h4><br>

  <a href="/signup" class = "btn btn-lg">Sign up</a>
  <a href="/login" class = "btn btn-lg">Log in</a>

<% include partials/footer %>


