<% include partials/header %>

<div class ="first">

  <h1> Oneironaut - an explorer of the dream world</h1>

  <% if (typeof message !== 'undefined') { %>
    <div class = "alert alert-success">
      <%= message %>
    </div>
  <% } %>

<h2>We are all dreamers.</h2>
<h4>
You may have heard this before, but we are asleep for a third of our lives. <br>
Most of us seldom write down these memories, but they have a lasting effect.<br>
So, dream with us and sign up to join our community of Oneironauts.<br>
Share, explore, and discover.<br>
</h4><br>

  <a href="/signup" class = "btn btn-primary btn-lg">Sign up</a>

  <a href="/login" class = "btn btn-primary btn-lg">Log in</a>

</div>

<% include partials/footer %>


