<% include partials/header %>

<div class ="first">

  <h1> Oneironaut - an explorer of the dream world</h1>

  <% if (typeof message !== 'undefined') { %>
    <div class = "alert alert-success">
      <%= message %>
    </div>
  <% } %>

<h2>We are all dreamers.</h2>
<h4>
You've may have heard this before, but we spend a third of our lives asleep. <br>
So, dream with us. Share and Explore.<br>
Sign up to join our community of Oneironauts.
</h4><br>

  <a href="/signup" class = "btn btn-primary btn-lg">Sign up</a>

  <a href="/login" class = "btn btn-primary btn-lg">Log in</a>

</div>

<% include partials/footer %>


