
<% include partials/logo %>
<% include partials/header %>

<body>
<div class ="container">

<div class= "first" style="text-align: center">
  <h2>Login </h2>

  <% if (message.length > 0) { %>
    <div class = "alert alert-danger">
    <%= message %>
    </div>
  <% } %>
    <form action="/login" method = "post">

      <p>
        <label for="user">Username:</label> <input type="text" name="username" id="user" autofocus value = <%=username %>>
      </p>
      <p>
        <label for="pass">Password:</label> <input type="password" name="password" id="pass">
      </p>
      <p>
        <input type="submit" value="Log In" class ="btn">
      </p>
    </form>
    <a href="/signup">Don't have an account? Create one here</a>
</div>
<% include partials/footer %>
