<% include partials/header %>
<% include partials/navbar %>

<h1>Search for places and read through dreams</h1>

<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/calvinjwala.k2fc6bik/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiY2FsdmluandhbGEiLCJhIjoiMzE3ZnZBTSJ9.fFvQP5sSJ7RRxVx9f6hQuw'></iframe>


<% include partials/footer %>