//will hold the map api and map out the user based on zip code.

<% include ../partials/header %>
<% include ../partials/navbar %>

<h1>Search for places and read through dreams</h1>


<% include ../partials/footer %>