<% include partials/navbar %>
<% include partials/mapbox %>

<h2 class= "first">Explore oneironauts around the world.</h2>

<div id='map' style="height:450px;"></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY2FsdmluandhbGEiLCJhIjoiMzE3ZnZBTSJ9.fFvQP5sSJ7RRxVx9f6hQuw';
var geocoder = L.mapbox.geocoder('mapbox.places-postcode-v1'),
  map = L.mapbox.map('map', 'calvinjwala.k2fc6bik');
//above stays as is
//everything below is subject to change
  // geocoder.addTo(map);

var info = <%- userInfo %>;
info.forEach(function (piece) {
   var parts = piece.loc.split(", ");
   if (parts.length === 2) {
    var nums = parts.map(parseFloat);
    var url = window.location.protocol + "//" + window.location.host + "/oneironaut/" + piece.id + "/dreams";
    // L.marker(backwards).addTo(map);
     L.mapbox.featureLayer({
      type: 'Feature',
      geometry: {
          type: 'Point',
          // coordinates here are in longitude, latitude order because
          // x, y is the standard for GeoJSON and many formats
          coordinates: nums
      },
      properties: {
          title: '<a href="' + url + '">Oneironaut</a>',
          description: piece.name,
          // one can customize markers by adding simplestyle properties
          // https://www.mapbox.com/foundations/an-open-platform/#simplestyle
            "marker-symbol": "circle",
            "marker-size": "small",
            "marker-color": "#1087bf"
    }
  }).addTo(map);
  }
 });


// var geocoder = L.mapbox.geocoder('mapbox.places-postcode-v1');
// geocoder.addTo(map);
// Listen for the `found` result and display the first result
// in the output container. For all available events, see
// https://www.mapbox.com/mapbox.js/api/v2.1.4/l-mapbox-geocodercontrol/#section-geocodercontrol-on
// geocoderControl.on('found', function(res) {
//     output.innerHTML = JSON.stringify(res.results.features[0]);
// });




// you would usually use the gridControl to display a nice box in the corner
// with your data, since we want a popup instead we won't initialize the gridControl

// var geocoder.query(, callback)



</script>


<% include partials/footer %>
