/*.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

.html[xmlns] .clearfix {
  display: block;
}

.html .clearfix {
  height: 1%;
}*/

#container {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

.content {
  padding: 8px 8px;
  width: 265px;
  margin: 5px;
  display: inline-block;
  border: 1px #c9c9c9 solid;
  /*float: left;*/
}