body {
  background-color: white;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.text-center {
  text-align: center;
}

.logo {
  text-align: center;
}

.dropdown-menu .divider  {
  margin: 0;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 58px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 0px;
  margin-top:5px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.navbar-header {
  display: inline-block;
  float: none;
  margin-right: 80px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.first {
  text-align: center;
  margin-top: 12px;
}

.thumbnail {
  width: 380px;
  border-color: white;
}

.thumbnail > img{
  height: 281px;
  width: 375px;
}

h4 {
  white-space: pre-wrap;
}

.dreamtype {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.new_post {
  width: 900px;
  margin: 0 auto;
}

.editButton {
  padding-right: 15px;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.private {
  padding-right: 25px; 
}

.bottomButtons {
  text-align: center;
}

/*circles on dreams*/
.dream_1 {
  margin: 0 auto;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  background-color: #c34851;
}

.dream_2 {
  margin: 0 auto;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  background-color: #e19d55;
}

.dream_3 {
  margin: 0 auto;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  background-color: #fff289;
}

.dream_4 {
  margin: 0 auto;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  background-color: #40a85b;
}

.dream_5 {
  margin: 0 auto;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  background-color: #386fac;
}

.dream_6 {
  margin: 0 auto;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  background-color: #241369;
}


.dream_7 {
  margin: 0 auto;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  background-color: #b44484;
}

