body {
  background-color: white;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.logo {
  text-align: center;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 58px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 0px;
  margin-top:5px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.navbar-header {
  display: inline-block;
  float: none;
  margin-right: 80px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.first {
  text-align: center;
}

.thumbnail {
  width: 380px;
  border-color: white;
}

.thumbnail > img{
  height: 300px;
  width: 400px;
}

h4 {
  white-space: pre-wrap;
}

.dreamtype {
  width: 100px;
  display: inline-block;
}

.new_post {
  width: 900px;
  margin: 0 auto;
}

#dream_1 {
  background-color: red;
}

#dream_4 {
  background-color: green;
}
