<% include ../partials/header %>
<% include ../partials/navbar %>

  <h1>Your Dreams</h1>
 
  <a href="/oneironaut/<%= user.id%>/dreams">See <%= user.username %>'s posts</a>
  <br>


<% include ../partials/footer %>