<% include ../partials/header %>
<% include ../partials/navbar %>

<h1>This is the page for listing all the dreams on the page.</h1>

<p> 
<a href="/dreams/new">Write About Your Dream</a>
</p>


<% include ../partials/footer %>