<% include ../partials/header %>
<% include ../partials/navbar %>


<h1><%= user.username %>'s Dreams</h1>

<div class="myPosts">
  <% allPosts.forEach(function(post, index){ %>

  <h2><%= post.title %></h2>
  <h4><%= post.body %></h4>

  <p class="dateStamp"><%= post.createdAt %></p>

  <% }) %>

</div>

<% include ../partials/footer %>