<% include ../partials/navbar %>
<% include ../partials/masonry %>

<h2 class="first"><%= user.username %>'s Dreams</h2>

<div id="container">
  <% allPosts.forEach(function(post, index){ %>
  <div id= "content" class= "clearfix">
    <h2><%= post.title %></h2>
    <h4><%= post.body %></h4>
    <p class="dateStamp"><%= post.createdAt %></p>
    </div>
  <% }) %>
</div>

<% include ../partials/footer %>


