<% include ../partials/header %>
<% include ../partials/navbar %>


<h1>Dreams</h1>

<div class="new_post">
  <% allPosts.forEach(function(post){ %>
  <p>
  <h3>
  <%= post.title %>
  </h3>
  <%= post.body %>
  </p>
</div>

<% include ../partials/footer %>